1. ZenInsightTauri-about.txt is the about and info for the ZenInsightTauri project.
2. ZenInsightTauri-design.txt is everything about the design and tech stack for the ZenInsightTauri project.
3. ZenInsightTauri-dev-doc.md is the development documentation for the ZenInsightTauri project.
4. readme.md is simply a promotional readme for the ZenInsightTauri project github page and git repo!
5. dev-notes/current-task.md is the current task for the ZenInsightTauri project.
6. dev-notes/task-tracker.md is all tasks tracker for the ZenInsightTauri project.

all files have the version number increment in each edit on the first line with the currect date!

while developing the project, we will use the current-task.md file to track the current task and the task-tracker.md file to track all tasks.
update any file that is affected when using composer while developing the project.
